@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/DMSans-Bold.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RedHatText-Regular.ttf') format('truetype');
}
