@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url(data:font/ttf;base64,{{.DMSansRegular | base64}}) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: bold;
  font-weight: 700;
  src: url(data:font/ttf;base64,{{.DMSansBold | base64}}) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url(data:font/ttf;base64,{{.RedHatTextRegular | base64}}) format('truetype');
}
body {
  padding: 48px;
  max-width: 600px;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 8px;
}
body {
  font-family: 'Red Hat Text';
  font-size: 1.6rem;
  line-height: 1.5;
  margin: auto;
}
h1, h2, h3 {
  font-family: 'DM Sans';
}
h1 {
  font-size: 3.6rem;
  font-weight: normal;
  margin-top: 0;
  text-align: left;
}
h2 {
  color: #20aaea;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: .3em;
}
h2 + p {
  margin-top: 0.75rem;
}
h3 {
  font-size: 1.8rem;
}
h3 + p {
  margin-top: 0.25rem;
}
ul {
  margin-top: 0.25em;
}
ul li:before {
  content: '-';
  margin-right: 0.5em;
}
h3 + ul {
  margin-top: 0;
}
a {
  color: #20aaea;
  text-decoration: underline;
}
li > p {
  margin-top: 0;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 0.5em;
}
::-moz-selection {
  background-color: rgba(32, 170, 234, 0.2);
}
::selection {
  background-color: rgba(32, 170, 234, 0.2);
}
ul {
  padding-left: 16px;
  padding-bottom: 0.75rem;
}
ul li {
  list-style-type: none;
  position: relative;
}
ul li:before {
  color: #20aaea;
  content: '—';
  font-weight: normal;
  left: -16px;
  position: absolute;
}
a {
  border-bottom: 1px solid #20aaea;
  color: #222;
  text-decoration: none;
}
.links {
  display: flex;
  align-items: center;
  gap: 6px;
}
.github-link {
  display: inline-flex;
  border-bottom: none;
}
.github-link svg {
  vertical-align: middle;
}
.vpad {
  min-height: 1rem;
}
