<style>
    main h2,
    main h3,
    main h4 {
        position: relative;
    }

    main h2:hover::before,
    main h3:hover::before,
    main h4:hover::before {
        content: "#";
        position: absolute;
        left: -1em;
        top: 0;
        color: var(--link-color);
    }

    main h2 a,
    main h3 a,
    main h4 a {
        color: var(--heading-color);
        text-decoration: none;
    }

    main h2 a:is(:hover, :focus, :visited),
    main h3 a:is(:hover, :focus, :visited),
    main h4 a:is(:hover, :focus, :visited) {
        text-decoration: none;
    }
</style>
