<style>
    h2,
    h3,
    h4 {
        position: relative;
    }

    h2:hover::before,
    h3:hover::before,
    h4:hover::before {
        content: "#";
        position: absolute;
        left: -1em;
        top: 0;
        color: var(--link-color);
    }

    h2 a,
    h3 a,
    h4 a {
        color: var(--heading-color);
        text-decoration: none;
    }

    h2 a:is(:hover, :focus, :visited),
    h3 a:is(:hover, :focus, :visited),
    h4 a:is(:hover, :focus, :visited) {
        text-decoration: none;
    }
</style>
