{{ define "main" }}
<h1>{{.Params.Header.Name}}</h1>
{{.Params.Header.Site | markdownify}}
<hr/>

<h1>Employment</h1>
<hr/>
{{ range .Params.Employment -}}
  <div class="container">
      <h2>{{.Title}} @ {{ .Employer }}</h2> <p> {{.Time}} </p>
  </div>
      {{- range .Role -}}
          <h3> {{ .Title }} </h3>
          {{- .Content | markdownify -}}
      {{ end }}
{{- end -}}

<h1 class="section-header">Education</h1>
<hr/>
<div class="container">
    <p>{{.Params.Education.School}}</p>
    <p>{{.Params.Education.Time}}</p>
</div>
{{- .Params.Education.Content | markdownify -}}

{{ range .Params.Extra -}}
<h1 class="section-header">{{.Title}}</h1>
<hr/>
{{- .Content | markdownify -}}
{{- end -}}
{{- end -}}
