<head>
	<meta charset="utf-8" />
	<title>{{ .Title }}</title>
	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

	{{- $fontstyle := resources.Get "css/fonts.css" | fingerprint -}}
    <link href="{{ $fontstyle.Permalink }}" rel="stylesheet">

	{{- $style := resources.Get "css/main.css" | fingerprint -}}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}" />
</head>
